<script>
    $(function () {
        $("#b-close").click(function () {
            $("#attic").toggleClass("collapse");
        });
    });
    // Ensure the DOM is fully loaded before running the script
    $(document).ready(function () {
        // Get the title of the document
        var title = $(document).attr("title");
        // Display the title inside an element with id 'titleDisplay'
        $("#titleDisplay").text(title);
    });
</script>

<header id="attic">
    <div id="b-close"><i class="fas fa-arrow-right"></i></div>
    <a href="https://pol.jerryly.top">
        <div class="b-item-0"></div>
    </a>
    <div class="b-item-1"><span id="titleDisplay"></span></div>
    <div id="attic-items">
        <div class="b-item-2">learn more</div>
        <div class="b-item">
            <a href="https://jerryly.top/aluminum_studio.html">
                About&emsp13;&emsp13;
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
        </div>
        <div class="b-item">
            <a href="https://blog.jerryly.top">
                Blog&emsp13;&emsp13;
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
        </div>
    </div>
</header>
<div id="back-to-top">
    <a href="#">
        <div id="back-button">
            <i class="fas fa-arrow-up"></i>
        </div>
    </a>
</div>