/* Jerry wrote this */

@media (max-width: 1024px) {
    #pol-canvas-1-box-2 {
        width: 100% !important;
        height: 60% !important;
        bottom: 0 !important;
    }

    #pol-canvas-1>.pol-canvas-text {
        width: calc(100% - 30px) !important;
        height: calc(25% - 30px) !important;
        top: calc(15% + 15px) !important;
        font-weight: unset;
    }

    #pol-canvas-1-text {
        font-size: 50px !important;
    }

    #pol-canvas-2 {
        width: calc(100% - 30px);
        height: 80vh;
        justify-content: start;
        align-items: start;
        margin-left: 30px;
        margin-right: 30px;
    }

    #pol-canvas-4, #pol-canvas-3{
        height: 100vh;
    }

    .pol-canvas>.pol-canvas-text {
        width: 100% !important;
        height: 15vh !important;
        text-align: left;
        left: 30px !important;
        top: 0 !important;
        font-size: 30px;
        font-weight: bold;
    }

    #pol-canvas-2 #dev-cal-2 {
        height: unset;
        margin-left: 0;
    }

    .pol-canvas-text-g {
        left: 0;
        top: 0vh !important;
        width: 100% !important;
    }

    .pol-canvas-text-g #dev-cal-2{
        width: calc(100% - 60px);
        word-wrap: break-word;
    }

    #pol-canvas-1-box {
        width: 100% !important;
        height: 15% !important;
        background-color: white;
        color: #000;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    #pol-canvas-1-box>#dev-cal-2 {
        height: unset !important;
        display: block !important;
        font-size: 20px !important;
        margin-bottom: 10px;
        text-align: right;
    }
}

@media (prefers-color-scheme: dark) {
    #blue {
        border-right-color: #454545 !important;
    }

    #red {
        border-left-color: #454545 !important;
    }

    .pol-canvas {
        border-bottom-color: #454545 !important;
    }
}

.pol-canvas {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-bottom: solid 1px #d1d1d1;
}

#pol-canvas-1 {
    background-image: radial-gradient(circle at top right, #158CD6, #164FD7, #1915D6, #D61563 90%);
    color: #fff;
}

.pol-canvas-text {
    width: calc(30% - 30px);
    height: 100%;
    font-family: 'Libre Franklin', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 30px;
    border-right: solid 1px #d1d1d1;
}

#pol-canvas-text-1 {
    border-right: none;
}

#pol-canvas-1-text {
    height: 50%;
    font-size: 80px;
    font-weight: bold;
}

#pol-canvas-1-box {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(70% - 1px);
    height: 80px;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#dev-cal-2 {
    font-family: 'Libre Franklin', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: unset;
    margin: 0;
    margin-right: 30px;
}

#pol-canvas-1-box-2 {
    position: absolute;
    right: 0;
    bottom: 0;
    height: calc(100% - 80px);
    width: 70%;
    display: flex;
    border-top-left-radius: 25px;
    border-top-left-radius: 25px;
    overflow: hidden;
}

#blue {
    height: 100%;
    width: 48%;
    position: absolute;
    left: 0px;
    background-color: #164FD7;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: right;
    border-right: solid 1px #d1d1d1;
}

#red {
    position: absolute;
    right: 0;
    height: 100%;
    width: 46.8%;
    background-color: #D61563;
    display: flex;
    justify-content: start;
    align-items: center;
    border-left: solid 1px #d1d1d1;
}

#blue>#dev-cal-2,
#red>#dev-cal-2 {
    font-size: 30px;
    margin-left: 30px;
    font-weight: bold;
}

#pol-canvas-2-text {
    padding-right: 30px;
}

.pol-canvas>#dev-cal-2 {
    height: 100%;
    display: flex;
    font-size: 20px;
    align-items: center;
}

#pol-canvas-1-box>#dev-cal-2 {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    width: calc(100% - 30px);
    margin-right: 30px;
    font-size: 18px;
    transition: all 0.2s;
}

.pol-canvas a {
    color: unset;
    text-decoration: underline;
}

.fade-in {
    transform: translateY(-90px);
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.fade-in.active {
    transform: translateY(0px);
}

#pol-canvas-1-box>#dev-cal-2>a {
    background-color: #fff;
    border: solid 1px #ffffff;
    color: #000;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: all 0.2s;
}

#pol-canvas-1-box>#dev-cal-2>a:hover {
    background-color: transparent;
    color: white;
}

#canvas-clicker {
    position: absolute;
    bottom: 10px;
    right: 40px;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(238, 238, 238, 0.75);
    backdrop-filter: blur(12px);
    border: solid 1px #eee;
    overflow: hidden;
    color: black;
    font-size: 13px;
    transition: all 0.2s;
    text-align: center;
    font-weight: bold;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#canvas-clicker i {
    font-size: 15px;
}

#canvas-clicker:hover {
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
}

.pol-canvas-text-g {
    width: calc(70%);
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: start;
    align-items: center;
}

.pol-canvas-text-g #dev-cal-2 {
    font-size: 18px;
    margin-left: 30px;
}